<div class="row">
  <div class="col-md-7 col-xs-12">
    <h2>
      {{recipe.name}}
    </h2>
    <div class="btn-group mt-3" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li>
          <a class="dropdown-item" href="#">
            Add to shopping list
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Edit recipe
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Delete recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 col-xs-12">
    <img src="{{recipe.imagePath}}" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">
    <h5>
      {{recipe.description}}
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">
    Ingredients
  </div>
</div>
