/* You can add global styles to this file, and also import other style files */

li.nav-item.show ul {
  display: block;
  min-width: 8rem;
}

.pointer:hover {
  cursor: pointer;
}

a.nav-link.active {
  font-weight: bold;
}

.list-group-item.active>a.link-primary {
  color: white;
}
