<div class="row">
  <div class="col-xs-10">
    <form
      [ngClass]="this.submitted && shoppingListForm.invalid ? 'was-validated' : ''"
      (ngSubmit)="onSubmit()" #shoppingListForm="ngForm">
      <div class="row mb-3 g-3">
        <div class="col-sm-5">
          <label for="ingredientName" class="form-label">Ingredient</label>
          <input type="text"
                 class="form-control"
                 id="ingredientName"
                 name="ingredientName"
                 ngModel
                 #ingredientName="ngModel"
                 required>
          <div class="invalid-feedback" *ngIf="this.submitted">
            <div *ngIf="ingredientName.errors?.required">
              Ingredient is required
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <label for="ingredientAmount" class="form-label">Amount</label>
          <input type="number"
                 class="form-control"
                 id="ingredientAmount"
                 name="ingredientAmount"
                 ngModel
                 #ingredientAmount="ngModel"
                 required
                 pattern="^[1-9]+[0-9]*$">
          <div class="invalid-feedback" *ngIf="this.submitted">
            <div *ngIf="ingredientAmount.errors?.required">
              Amount is required
            </div>
          </div>
          <div class="invalid-input" *ngIf="this.submitted && ingredientAmount.errors?.pattern">
            Invalid amount
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-auto">
          <button class="btn btn-success" type="submit">
            <span *ngIf="activeIngredient">
              Save changes
            </span>
            <span *ngIf="!activeIngredient">
              Add ingredient
            </span>
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-warning" type="button" (click)="onReset()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
